@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Outfit:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --bg-color: #fff;
}

.content-container{
    background-color: var(--slate-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100dvh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin: 0 1.1rem;
}

.qr_container {
    max-width: 23rem;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.069);
    gap: 20px;
    max-height: fit-content;
    border-radius: 20px;
}

img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.text_container {
    text-align: center;
    padding: 0 30px;
}

h1 {
    font-weight: 700;
    color: var(--slate-900);
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.qr_container p {
    color: var(--slate-500);
    margin-bottom: 30px;
    font-size: 15px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hwb(228 24% 36%); 
}